form.signup,
form.login {
  margin-top: 50px;
}
.center {
  text-align: center;
  background-color: rgba(0,0,0,.5);
  border-radius: 20px;
  padding: 10px;
  
}
.row{
  text-align: center;
}
.table-center{
  text-align: center;
  padding-left: 40px;
  padding-bottom: 50px;
  border:3px solid green;
  margin:auto;
  width:50%;
   word-spacing: 20px;
}

body{
  background-image: url("bank\ background.jpg");
  color: whitesmoke;
  background-color: rgba(0,0,0,.5);
   background-blend-mode: darken;

}

.signUp1{
color: whitesmoke;
background-color: rgba(0,0,0,.5);
  border-radius: 20px;
  padding: 10px;
}

.signup{
  background-color: rgba(0,0,0,.5);
  border-radius: 20px;
  padding: 10px;
}

.logInHere{
  background-color: rgba(0,0,0,.5);
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
}

.banking, .checking .bank{
  
  text-align: center;
  /* background-color: rgba(0,0,0,.5); */
  border-radius: 20px;
  padding: 10px;
 
 color: whitesmoke;
 
}


#bank_title, .checkingTitle, .savingsTitle, #trans_table {
  color:whitesmoke;
}

#checking_balance, #savings_balance, .transaction, .trans_type{
  color: black;
}

#submit_balance, .submit_trans{
  background-color: rgb(0, 89, 255);
  border-radius: 5px;
}

h4{
  text-align: center;
  color:white;
  
  border-radius: 50px;
}
th.spacing-table{
  word-spacing: 1px;
  padding: 1px;
text-align: center;
padding-left: 50px;
color: white;
}
th.spacing-table1{
  word-spacing: 1px;
  padding: 1px;
text-align: center;
padding-left: 80px;
color: white;
}

.navUl{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}

.newNav{
  background:#003366;
  height: 80px;
  width: 100%;
}

label.logo{
  color: whitesmoke;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  
}

nav ul li a{
  color: whitesmoke;
  font-size: 18px;
  text-transform: uppercase;
}

